body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Overall header CSS */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30353D;
    color: #92CCCE;
    padding: 1% 0%;
}

/* Name in header */
h1 {
    display: flex;
    justify-content: right;
    color: #30353D;
    background-color: #92CCCE;
    font-size: 200%;
    min-width: 350px;
}

/* CSS for navigation in header */
header ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 500px;
    font-size: 125%;
    padding: 0%;
}

nav a {
    display: flex;
    color: #92CCCE;
    border-bottom: 3px solid #92CCCE;
}

a:link {
    text-decoration: none;
}

/* Background fence */
.backg {
    position: relative;
}

.fence {
    height: 200px;
    width: 100%;
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
}

.bottomr {
    position: absolute;
    bottom: 20px;
    right: 60px;
    font-size: 200%;
    font-weight: bold;
    color: #30353D;
    background-color: #92CCCE;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #EEEEF7;
}

/* About me and Contact me */
.para {
    display: flex;
    padding: 2% 2%;
}

h2 {
    border-right: 3px solid #445877;
    font-size: 200%;
    text-align: end;
    color: #445877;
    padding-right: 1%;
    margin-left: 6%;
    float: left;
}

p {
    padding: 0% 2%;
}

/* Work section images */
.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 2000px;
    width: 100%;
}

.box {
    position: relative;
}

.img1 {
    width: 100%;
    height: 50%;
    border: 5px solid #92CCCE;
    flex: 4 1 100%;
    opacity: 0.5;
}

.img2 {
    width: 250px;
    max-height: 150px;
    border: 5px solid #92CCCE;
    flex: 1 0 50%;
    object-fit: cover;
    opacity: 0.5;
}

img:hover {
    cursor: pointer;
    opacity: 1;
}

/* CSS for contact me section */
section ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
    font-size: 125%;
    padding-left: 2%;
}

section ul li {
    color: #445877;
    border-bottom: 3px solid #445877;
    padding: 0% 20%;
}

section ul li a:visited {
    color: #445877;
}

/* media queries to not break website on other devices */
@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }
}