body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #30353D;
    color: #92CCCE;
    padding: 2% 0%;
}

h1 {
    display: flex;
    justify-content: right;
    color: #30353D;
    background-color: #92CCCE;
    font-size: 200%;
    min-width: 350px;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    min-width: 400px;
    font-size: 125%;
    padding: 4%;
}

nav a {
    display: flex;
    color: #92CCCE;
}

.backg {
    position: relative;
}

.fence {
    height: 200px;
    width: 100%;
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    padding: 2% 2%;
}

h2 {
    border-right: 3px solid #445877;
    font-size: 200%;
    text-align: end;
    color: #445877;
    padding-right: 1%;
    margin-left: 6%;
    float: left;
}

p {
    padding: 0% 2%;
}

.imgs {
    flex-wrap: wrap;
}

.box {
    position: relative;
}

.img1 {
    height: 45%;
    width: 100%;
}



@media screen and (max-width: 768px) {
    header,
    main {
        flex-direction: column;
    }

    section {
        padding-right: 0;
    }
}